protobuf
transformers==4.27.1
icetk
# cpm_kernels
torch>=2.0.0
# gradio
# mdtex2html
sentencepiece
accelerate
# tensorrt
colored
nvidia-pyindex
polygraphy
# onnx_graphsurgeon
# onnxsim
# pycuda
onnx>=1.13.0
onnxruntime>=1.13.0
# onnxruntime-gpu
